<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/login.js"></script>
    <link rel="stylesheet" href="../public/css/login.css">

  </head>
  <body>
    <span class="login-form">
        <h1>Login</h1>

        <div class="txtb">
          <input type="text" id="userEmail" name="username" placeholder="Username" required>
        </div>

        <div class="txtb">
          <input type="password" id="Userpassword" name="password" placeholder="Password" required>
        </div>

        <input type="button" id="click" class="logbtn" value="Login">

      </span>

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>
<script src="../public/js/login.js"></script>

  </body>
</html>