<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
 
        #Time_comes_Korea{
            width: 800px;
            height: 150px;
            background-color: white;
            border: none;
            position: absolute;
            left: 100px;

            font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
            font-size: 60px;
            font-weight: 400;
            
            margin: 10px;
        /* video{
            position:absolute;
            top: 5%;
            right: 400px;
            width: 1000px;
        } */
        
        
    </style>
</head>



        }
        #Ship_comes_korea{
            width: 800px;
            height: 450px;
            position: absolute;
            left: 100px;
            top: 150px;
        }
        #UserName{
            width: 300px;
            height: 100px;
                    position: absolute;
                    left: 1000px;
                    top: 50px;
        }
        #GPS_Ship{

        }
    </style>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  
</head>

<body>
    <span>
        <table>
            <tr>
                    <td>    <textarea id="Time_comes_Korea" class="Time" readonly>dkafhsdkfj</textarea> </td>
    
                    <td>    <input type="image" src="1.jpg" id="Ship_comes_korea" class="Ship"></td>
                
                    <td>     <input type="text" id="UserName" class="USERNAME" readonly> </td>
                    <td>    <input type="text" id="GPS_Ship" class="GPS" readonly>  </td>
            </tr>
        </table>
    </span>
</body>
<script src="js/Stage.js">
 
 </script>
</html> 