<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Stage.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  
</head>

<body>
    <span>
        <header>
            <input type="text" value="침입한 배에 대한 정보" id="Warning_Ship">
        </header>
        <table id="table">
            <tr>
                    <td>    <textarea id="Time_comes_Korea" class="Time" readonly>시간정보가 표시될 예정입니다!</textarea> </td>
                    <hr>
                    <td>    <input type="image"  alt="Ship_Picture" id="Ship_comes_korea" class="Ship"></td>
            </tr>
        </table>
    </span>
</body>
<script src="../public/js/Stage.js">
 
 </script>
</html> 